---
layout: default
is_post: true
---

<article class="post">
  {% include blog/post/article.html %}
</article>

{% unless page.sharing == false %}
  {% include post/sharing.html %}
{% endunless %}

{% if site.facebook_appid and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="facebook_comments" aria-live="polite">
      {% include post/facebook_comments.html %}
    </div>
  </section>
{% endif %}

{% if site.disqus_short_name and page.comments == true %}
<section id="disqus">
  <h1 class="indent title">Comments</h1>
  <div id="disqus_thread" aria-live="polite">{% include blog/post/disqus_thread.html %}</div>
</section>
{% endif %}
